<div class="content">
    <div class="collum">
        <div class="card card-user">
            <div class="card-header">
                <h4 class="card-title"><strong>Cập nhật bài đăng</strong></h4>
            </div>
            <div class="card-body">
                <form method="post" action="/updateBaiDang/{{baidang.id}}">
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Tên bài viết</label>
                                        <input value="{{baidang.tenbaiviet}}" name="tenbaiviet" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Nội dung tóm tắt</label>
                                        <textarea name="tomtat" class="form-control" type="text">{{baidang.tomtat}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea name="noidung" class="form-control" type="text">{{baidang.noidung}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">Cập nhật bài đăng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>