<div class="content">
    <div class="collum">
        <div class="card card-user">
            <div class="card-header">
                <h4 class="card-title"><strong>Chỉnh sửa bài viết</strong></h4>
            </div>
            <div class="card-body">
                <form method="post" action="/updateBaiDang/{{product._id}}">
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Tên bài viết</label>
                                        <input value="ABC" name="title" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Chủ đề</label>
                                        <select class="form-control" name="idBrand">
                                            <option selected value="">Trí tuệ nhân tạo</option>
                                            <option selected value="">Ngôn ngữ lập trình</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Ngày gửi</label>
                                        <input name="title" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Nội dung tóm tắt</label>
                                        <input value="WhiteHub – Giải pháp kiểm thử bảo mật tối ưu cho doanh nghiệp"
                                               name="title" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea name="title" class="form-control" type="text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">Đăng bài</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>