<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danh sách người dùng</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Tên đăng nhập
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Cập nhật
                            </th>
                            <th>
                                Xóa
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Luong Ngọc Vũ
                                </td>
                                <td>
                                    luongngocvu168@gmail.com
                                </td>
                                <td>
                                    Thành phố Hà Nội
                                </td>
                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <a href="editProduct/{{this._id}}">
                                            <button type="submit" class="btn btn-primary btn-square">Cập nhật
                                            </button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <a href="deleteProduct/{{this._id}}">
                                            <button type="submit" class="btn btn-primary btn-square">Xóa</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nguyễn Văn Chánh
                                </td>
                                <td>
                                    nvc168@gmail.com
                                </td>
                                <td>
                                    Thành phố Đà Nẵng
                                </td>
                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <a href="editProduct/{{this._id}}">
                                            <button type="submit" class="btn btn-primary btn-square">Cập nhật
                                            </button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <a href="deleteProduct/{{this._id}}">
                                            <button type="submit" class="btn btn-primary btn-square">Xóa</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--<div class="update ml-auto mr-auto">
                        <a href="addProduct">
                            <button type="submit" class="btn btn-primary btn-square">Thêm sản phẩm</button>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>