<section class="home_banner_area blog_banner">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="blog_b_text text-center">
                <h1>Vui lòng vào email {{email}} bạn đã cung cấp để kích hoạt tài khoản</h1>
            </div>
        </div>
    </div>
</section>
