<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danh sách bài đã đăng</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Chủ đề
                            </th>
                            <th>
                                Người gửi
                            </th>
                            <th>
                                Ngày gửi
                            </th>
                            <th>
                                Tóm tắt
                            </th>
                            <th>
                                Cập nhật
                            </th>
                            <th>
                                Xóa
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    Trí tuệ nhân tạo
                                </td>
                                <td>
                                    Lương Ngọc Vũ
                                </td>
                                <td>
                                    12/06/2018
                                </td>
                                <td>
                                    WhiteHub – Giải pháp kiểm thử bảo mật tối ưu cho doanh nghiệp
                                </td>
                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <a href="/baidang/editBaiDang">
                                            <button type="submit" class="btn btn-primary btn-square">Cập nhật
                                            </button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="update ml-auto mr-auto">
                                        <a href="/baidang/editBaiDang">
                                            <button type="submit" class="btn btn-primary btn-square">Xóa
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>