<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h3>Học lập trình để thay đổi thế giới</h3>
                <h5>Không bao giờ là trễ nếu bạn bắt đầu từ bây giờ</h5>
                <a class="main_btn" href="/blog">Bắt đầu ngay</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Finance Area =================-->
<section class="finance_area">
    <div class="container">
        <div class="finance_inner row">
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h5>Trí tuệ nhân tạo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-earth"></i>
                        </div>
                        <div class="media-body">
                            <h5>Cấu trúc dữ liệu <br/>thuật toán</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-smile"></i>
                        </div>
                        <div class="media-body">
                            <h5>Ngôn ngữ lập trình</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-tag"></i>
                        </div>
                        <div class="media-body">
                            <h5>Lập trình Website</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Finance Area =================-->

<!--================Courses Area =================-->
<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Nhiều người quan tâm</h2>
            <p>Sự quan tâm của bạn là động lực để chúng tôi phát triển từng ngày</p>
        </div>
        <div class="row courses_inner">
            <div class="col-lg-9">
                <div class="grid_inner">
                    <div class="grid_item wd55">
                        <div class="courses_item">
                            <img src="img/courses/course-1.jpg" alt="">
                            <div class="hover_text">
                                <a href="/single-blog"><h4>Các mẫu thiết kế hướng đối tượng</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item wd44">
                        <div class="courses_item">
                            <img src="img/courses/course-2.jpg" alt="">
                            <div class="hover_text">
                                <a href="/single-blog"><h4>Kiến trúc YOLO</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item wd44">
                        <div class="courses_item">
                            <img src="img/courses/course-4.jpg" alt="">
                            <div class="hover_text">
                                <a href="/single-blog"><h4>In các số từ 1 đến 1000 mà không dùng vòng lặp hoặc đệ
                                    quy</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item wd55">
                        <div class="courses_item">
                            <img src="img/courses/course-5.jpg" alt="">
                            <div class="hover_text">
                                <a href="/single-blog"><h4>Cách giải những bài toán quy hoạch động</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="course_item">
                    <img src="img/courses/course-3.jpg" alt="">
                    <div class="hover_text">
                        <a href="/single-blog"><h4>Ngôn ngữ lập trình thông dụng</h4></a>
                        <ul class="list">
                            <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                            <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                            <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Courses Area =================-->

<!--================Team Area =================-->
<section class="team_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Đội ngũ lập trình viên của chúng tôi</h2>
        </div>
        <div class="row team_inner">
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="img/team/team-1.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Java Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="img/team/team-2.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Project Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="img/team/team-3.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="img/team/team-4.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Team Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_120">
    <div class="container">
        <div class="testi_slider owl-carousel">
            <div class="item">
                <div class="testi_item">
                    <img src="img/testimonials/testi-3.png" alt="">
                    <h4>Fannie Rowe</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <h6>Trí tưởng tượng quan trọng hơn kiến thức. Đối với kiến thức còn hạn chế, trong khi trí tưởng
                        tượng bao
                        trùm toàn bộ thế giới, kích thích sự tiến bộ, sinh ra sự tiến hóa</h6><br>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <img src="img/testimonials/testi-3.png" alt="">
                    <h4>Fannie Rowe</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <h6>Trí tưởng tượng quan trọng hơn kiến thức. Đối với kiến thức còn hạn chế, trong khi trí tưởng
                        tượng bao
                        trùm toàn bộ thế giới, kích thích sự tiến bộ, sinh ra sự tiến hóa</h6><br>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <img src="img/testimonials/testi-3.png" alt="">
                    <h4>Fannie Rowe</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <h6>Trí tưởng tượng quan trọng hơn kiến thức. Đối với kiến thức còn hạn chế, trong khi trí tưởng
                        tượng bao
                        trùm toàn bộ thế giới, kích thích sự tiến bộ, sinh ra sự tiến hóa</h6><br>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->


<!--================Latest Blog Area =================-->
<section class="latest_blog_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Những vài viết mới nhất</h2>
        </div>
        <div class="row latest_blog_inner">
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="img/latest-blog/l-blog-1.jpg" alt="">
                    <a class="date" href="#">25 tháng 10, 2018 | By Mark Wiens</a>
                    <a href="/single-blog"><h4>7 Nguyên tắc kiểm thử phần mềm: Học với các ví dụ</h4></a>
                    <p>Hướng dẫn này giới thiệu 7 nguyên tắc cơ bản của Kiểm thử phần mềm
                        mà những kiểm thử phần mềm chuyên nghiệp và chuyên gia QA nên biết.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="img/latest-blog/l-blog-2.jpg" alt="">
                    <a class="date" href="#">25 tháng 10, 2018 | By Mark Wiens</a>
                    <a href="/single-blog"><h4>7 Nguyên tắc kiểm thử phần mềm: Học với các ví dụ</h4></a>
                    <p>Hướng dẫn này giới thiệu 7 nguyên tắc cơ bản của Kiểm thử phần mềm
                        mà những kiểm thử phần mềm chuyên nghiệp và chuyên gia QA nên biết.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="img/latest-blog/l-blog-3.jpg" alt="">
                    <a class="date" href="#">25 tháng 10, 2018 | By Mark Wiens</a>
                    <a href="/single-blog"><h4>7 Nguyên tắc kiểm thử phần mềm: Học với các ví dụ</h4></a>
                    <p>Hướng dẫn này giới thiệu 7 nguyên tắc cơ bản của Kiểm thử phần mềm
                        mà những kiểm thử phần mềm chuyên nghiệp và chuyên gia QA nên biết.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="img/latest-blog/l-blog-4.jpg" alt="">
                    <a class="date" href="#">25 tháng 10, 2018 | By Mark Wiens</a>
                    <a href="/single-blog"><h4>7 Nguyên tắc kiểm thử phần mềm: Học với các ví dụ</h4></a>
                    <p>Hướng dẫn này giới thiệu 7 nguyên tắc cơ bản của Kiểm thử phần mềm
                        mà những kiểm thử phần mềm chuyên nghiệp và chuyên gia QA nên biết.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Latest Blog Area =================-->

<!--================Impress Area =================-->
<section class="impress_area p_120">
    <div class="container">
        <div class="impress_inner text-center">
            <h6>Trí tưởng tượng quan trọng hơn kiến thức. Đối với kiến thức còn hạn chế, trong khi trí tưởng tượng bao
                trùm toàn bộ thế giới, kích thích sự tiến bộ, sinh ra sự tiến hóa</h6><br><br>
            <a class="main_btn2" href="#">Đăng bài viết</a>
        </div>
    </div>
</section>
<!--================End Impress Area =================-->
        
