<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danh sách bài đăng</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>Tiêu đề</th>
                            <th>Chủ đề</th>
                            <th>Người gửi</th>
                            </thead>
                            <tbody>
                            {{#each baidang}}
                            <tr>
                                <td>{{this.tenbaiviet}}</td>
                                <td>{{this.tentheloai}}</td>
                                <td>{{this.hoten}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>