<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danh sách bài viết</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Chủ đề
                            </th>
                            <th>
                                Người gửi
                            </th>
                            <th>
                                Ngày gửi
                            </th>
                            <th>
                                Tóm tắt
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    Trí tuệ nhân tạo
                                </td>
                                <td>
                                    Lương Ngọc Vũ
                                </td>
                                <td>
                                    12/06/2018
                                </td>
                                <td>
                                    WhiteHub – Giải pháp kiểm thử bảo mật tối ưu cho doanh nghiệp
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>