<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Đăng ký tài khoản</h4>
                </div>
                <div class="card-body">
                    <div class="wrap-login100">
                        <div class="login100-pic js-tilt" data-tilt>
                            <img src="img/img-01.png" alt="IMG">
                        </div>

                        <form method="post">
					        <span class="login100-form-title">
						    Đăng ký
                            </span>
                            {{message}}
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" id="hoten" name="hoten" placeholder="Tên đầy đủ">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							        <i class="fa fa-info-circle" aria-hidden="true"></i>
						        </span>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" id="tendangnhap" name="tendangnhap"
                                       placeholder="Tên đăng nhập">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							        <i class="fa fa-info" aria-hidden="true"></i>
						        </span>
                            </div>

                            <div class="wrap-input100 validate-input"
                                 data-validate="Bạn chưa nhập email hoặc email không đúng định dạng">
                                <input class="input100" type="text" id="email" name="email" placeholder="Email">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							        <i class="fa fa-envelope-open" aria-hidden="true"></i>
						        </span>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="date" id="ngaysinh" name="ngaysinh"
                                       placeholder="Ngày sinh">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" id="trinhdohocvan" name="trinhdohocvan"
                                       placeholder="Trình độ học vấn">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							        <i class="fa fa-address-card-o" aria-hidden="true"></i>
						        </span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate="Bạn chưa nhập mật khẩu">
                                <input class="input100" type="password" id="matkhau" name="matkhau"
                                       placeholder="Mật khẩu">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							        <i class="fa fa-lock" aria-hidden="true"></i>
						        </span>
                            </div>

                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Đăng ký
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
